html {
  font-family: "Noto Sans", sans-serif;
}

nav li a {
  color: #005e76;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

nav li a:hover {
  color: #005e76;
  border-bottom: 2px solid #005e76;
}

.japanese {
  color: #000;
  font-family: "Noto Sans Japanese", sans-serif;
}

.break {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}

.break-bottom {
  border-bottom: 2px solid #e2e2e2;
}

.btn-ghost {
  color: #005e76;
  border: 2px solid #8bc9d9;
}

.btn-ghost:hover {
  color: #005e76;
  border: 2px solid #0084a6;
  background-color: #8bc9d9;
}

footer small {
  color: #333;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #fff;
  }

}
